* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 48px;
}

.inner-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inner-inner-container {
    display: flex;
    justify-content: space-between;
}

.box {
    margin: 28px 0px 28px 0px;
    background-color: yellow;
    height: 100px;
    width: 100%;
}

.box-large {
    height: 100%
}

.box-small {
    width: 30%;
}